body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: rgba(41, 63, 80, 0.9);
}

/*Global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.button {
  height: 38px;
  background: #ff502b;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
}

.dark {
  padding: 15px;
  color: #fff;
  background: rgba(41, 63, 80, 1);
}

.grey {
  padding: 15px;
  color: #000;
  background: rgba(191, 191, 191, 1);
}

/*Header*/
header{
  background: #ff502b;
  color: #fff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #fff 3px solid;
}

header a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

header li{
  float: left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0px;
}

header nav{
  float: right;
  margin-top: 20px;
}

header .highlight, header .current a{
  color: #293f50;
  font-weight: bold;
}

header a:hover{
  color: #ccc;
  font-weight: bold;
}

/*Showcase*/
#showcase{
  min-height: 400px;
  background:url("../img/showcase.png") no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  border-bottom: #fff 3px solid;
}

#showcase h1{
  margin-top: 100px;
  font-size: 70px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 30px;
  font-weight: bold;
}

/*Newsletter*/
#newsletter {
  padding: 15px;
  color: #fff;
  background: rgba(41, 63, 80, 1);
  border-bottom: #fff 3px solid;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*Boxes*/
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 31%;
  padding: 10px;
}

#boxes .box img {
  width: 150px;
}

/*AboutUs*/
#aboutUs {
  color: #fff;
  font-size: 20px;
}

#aboutUs .about{
  float: left;
  width: 60%;
  margin-top: 15px;
}

#aboutUs .authors{
  float: right;
  width: 30%;
  margin-top: 50px;
  text-align: justify;
}

#aboutUs .authors img {
  width: 200px;
  margin-left: 100px;
}

#aboutUs h1 {
  text-align: center;
}

/*Footer*/
footer {
  font-size: 18px;
  padding: 20px;
  background-color: #ff502b;
  text-transform: uppercase;
  color: #fff;
  border-top: #fff 3px solid;
}

footer p{
  float: left;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer ul {
  float: right;
  margin-top: 20px;
}

footer li{
  float: left;
  display:inline;
  padding: 0 20px 0 20px;
}

footer .highlight, footer .current a{
  color: #293f50;
  font-weight: bold;
}

footer a:hover{
  color: #ccc;
  font-weight: bold;
}
